/* Add CSS Styling */
.odd{
    background-color: rgba(226, 43, 80, 0.396);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
#three{
    font-size: 24px;
}
#four
{
    background-color: rgb(128, 214, 128);
    color: black;
    font-size: 24px;
    font-weight: bold;
}